.container {
    background-color: var(--color-grey-light-2);
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .3);
}

.header {
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    @media only screen and (max-width: $bp-small) {
        flex-wrap: wrap;
        height: 12rem;
        align-content: space-around;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-grey-dark-1);
}

.hotel-view {
    flex: 1 0;
    background-color: var(--color-grey-light-1);
    font-size: 1.4rem;
}

.details {
    display: flex;
    padding: 4rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 2rem;
    }
}

.description {
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4rem;
    padding: 3rem;
    box-shadow: 0 0 5rem rgba($color: #000, $alpha: 0.08);

    @media only screen and (max-width: $bp-medium) {
        margin-right: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
    }
}

.review {
    background-color:#fff;
    flex-grow: 1;
    padding: 3rem;
    box-shadow: 0 0 5rem rgba($color: #000, $alpha: 0.08);

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }
}